<div class="page-wrapper page-settings">
    <div class="content">
        <div class="content-page-header content-page-headersplit">
            <h5>All Buddy Requests</h5>
            <div class="list-btn">
                <ul>
                    <li>
                        <div class="filter-sorting">
                            <ul>
                              <li>
                                <a href="javascript:void(0);" class="filter-sets"><i class="feather icon-filter me-2"></i>Filter</a>
                              </li>
                                <li>
                                    <span><img src="assets/admin/img/icons/sort.svg" class="me-2" alt="img"></span>
                                    <div class="custom-select">
                                        <mat-select class="select"  placeholder="A - Z">
                                            <mat-option>
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-primary"><i class="fa fa-plus me-2"></i>Create Services </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-sm-12 d-flex widget-path">
                <div class="card">
                    <div class="card-body">
                        <div class="home-user">
                            <div class="home-head-user home-graph-header">
                                <h2>Requests Statistics</h2>
                                </div>
                            <div class="chartgraph">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-sm-6">
                                        <div id="chart-bar">
                                            <apx-chart
                                                [series]="chart.series"
                                                [chart]="chart.chart"
                                                [labels]="chart.labels"
                                                [colors]="chart.colors"
                                                [responsive]="chart.responsive"
                                            ></apx-chart>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-6">
                                        <div class="bookingstatus" style="margin-left: 80px;">
                                            <ul>
                                                <li style="color: #f8c06c">
                                                    <span style="background-color: #f8c06c"></span>
                                                    <h6>Pending</h6>
                                                </li>
                                                <li class="process-status" style="color: #60b2f5">
                                                    <span style="background-color: #60b2f5"></span>
                                                    <h6>Waiting</h6>
                                                </li>
                                                <li class="process-pending" style="color: #7eff82">
                                                    <span style="background-color: #7eff82"></span>
                                                    <h6>Accepted</h6>
                                                </li>
                                                <li style="color: #f57370">
                                                    <span style="background-color: #f57370"></span>
                                                    <h6>Rejected</h6>
                                                </li>
                                                <li style="color: #c2bfbf">
                                                    <span style="background-color: #c2bfbf"></span>
                                                    <h6>Expired</h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-sm-12 d-flex widget-path">
                <div class="card">
                    <div class="card-body">
                        <div class="home-user">
                            <div class="home-head-user">
                                <h2>Booking Summary</h2>
                                <div class="home-select">
                                    <div class="dropdown">
                                        <button class="btn btn-action btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Monthly
                                        </button>
                                        <ul class="dropdown-menu" data-popper-placement="bottom-end" >
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">Weekly</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">Monthly</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item">Yearly</a>
                                            </li>												
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <a class="delete-table bg-white" href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="true">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <ul class="dropdown-menu" data-popper-placement="bottom-end">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item"> View</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item"> Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chartgraph">
                                <div id="chart-booking"><apx-chart
                                    [series]="chart1.series"
                                    [chart]="chart1.chart"
                                    [dataLabels]="chart1.dataLabels"
                                    [plotOptions]="chart1.plotOptions"
                                    [yaxis]="chart1.yaxis"
                                    [legend]="chart1.legend"
                                    [fill]="chart1.fill"
                                    [stroke]="chart1.stroke"
                                    [tooltip]="chart1.tooltip"
                                    [xaxis]="chart1.xaxis"
                                    [colors]="chart1.colors"
                                  ></apx-chart></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>            
        <div class="row">
            <div class="col-12">
                <div class="tab-sets">
                    <div class="tab-contents-sets">
                        <ul>
                            <li>
                                <a class="active" [class.active]="selectedStatus === 'ALL'" (click)="filterByStatus('ALL')">
                                    All Buddy Requests ({{getTotalCount()}})
                                </a>
                            </li>
                            <li>
                                <a [class.active]="selectedStatus === 'PENDING'" (click)="filterByStatus('PENDING')">
                                    Pending ({{statusCounts['PENDING']}})
                                </a>
                            </li>
                            <li>
                                <a [class.active]="selectedStatus === 'WAITING'" (click)="filterByStatus('WAITING')">
                                    Waiting ({{statusCounts['WAITING']}})
                                </a>
                            </li>
                            <li>
                                <a [class.active]="selectedStatus === 'ACCEPTED'" (click)="filterByStatus('ACCEPTED')">
                                    Accepted ({{statusCounts['ACCEPTED']}})
                                </a>
                            </li>
                            <li>
                                <a [class.active]="selectedStatus === 'REJECTED'" (click)="filterByStatus('REJECTED')">
                                    Rejected ({{statusCounts['REJECTED']}})
                                </a>
                            </li>
                            <li>
                                <a [class.active]="selectedStatus === 'EXPIRED'" (click)="filterByStatus('EXPIRED')">
                                    Expired ({{statusCounts['EXPIRED']}})
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents-count">
                        <h6>Showing 8-10 of 84 results</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="table-resposnive table-div">
                    <table matSort class="table datatable">
                        <thead>
                            <tr>
                                <th mat-sort-header="id">ID</th>
                                <th mat-sort-header="service">User Name</th>
                                <th mat-sort-header="category">User Email</th>
                                <th mat-sort-header="subCategory">Status</th>
                                <th mat-sort-header="amount">Goal</th>
                                <th mat-sort-header="date">Workout Start Time</th>
                                <th mat-sort-header="status">Duration</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let request of paginatedRequests">
                                <td>{{request.id}}</td>
                                <td>{{request.userEmail.split('@')[0]}}</td>
                                <td>{{request.userEmail}}</td>
                                <td>
                                    <span [ngClass]="{
                                        'badge-active': request.status === 'ACCEPTED',
                                        'badge-pending': request.status === 'PENDING',
                                        'badge-inactive': request.status === 'WAITING',
                                        'badge-delete': request.status === 'REJECTED',
                                    }">{{request.status}}</span>
                                </td>
                                <td>{{formatGoal(request.goal)}}</td>
                                <td>{{request.workoutStartTime | date:'short'}}</td>
                                <td>{{request.duration}} minutes</td>
                                <td>
                                    <div class="action-items">
                                        <a class="btn btn-sm bg-info-light me-2"><i class="far fa-eye me-1"></i></a>
                                        <a class="btn btn-sm bg-danger-light"><i class="far fa-trash-alt me-1"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                                 
                </div>
                <div class="pagination-main-class"> 
                    <div class="table_footer">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length">
                                    <label>
                                        <select
                                            class="form-control form-control-sm"
                                            [value]="pageSize"
                                            (change)="onPageSizeChange($event)"
                                        >
                                            <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table_design">
                        <div class="dataTables_info text-start">
                            Showing {{ (currentPage - 1) * pageSize + 1 }} to 
                            {{ currentPage * pageSize > filteredBuddyRequests.length ? filteredBuddyRequests.length : currentPage * pageSize }}
                            of {{ filteredBuddyRequests.length }} items
                        </div>
                        <div class="d-flex justify-content-center w-100">
                            <div class="pagination_section">
                                <ul class="pagination">
                                    <li>
                                        <span class="nav-text" 
                                              [class.disabled]="currentPage === 1"
                                              (click)="currentPage !== 1 && onPageChange(currentPage - 1)">
                                            Prev
                                        </span>
                                    </li>
                                    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
                                        [class.active]="currentPage === i + 1">
                                        <a class="page-link" (click)="onPageChange(i + 1)" href="javascript:void(0)">{{i + 1}}</a>
                                    </li>
                                    <li>
                                        <span class="nav-text" 
                                              [class.disabled]="currentPage === totalPages"
                                              (click)="currentPage !== totalPages && onPageChange(currentPage + 1)">
                                            Next
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
</div>

