<div class="page-wrapper page-settings">
    <div class="content">
      <div class="content-page-header content-page-headersplit">
        <h5>All Subscriptions</h5>
        <div class="list-btn">
          <ul>
            <li>
              <div class="filter-sorting">
                <ul>
                  <li>
                    <a href="javascript:void(0);" class="filter-sets">
                      <i class="feather icon-filter me-2"></i>Filter
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="btn btn-primary" href="javascript:void(0);">
                <i class="fa fa-plus me-2"></i>Create Subscription
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12">
          <div class="table-resposnive table-div">
            <table class="table datatable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Owner Email</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Price Paid</th>
                  <th>Status</th>
                  <th>Sport Facility</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sub of subscriptions; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ sub.ownerEmail }}</td>
                  <td>{{ sub.startDate | date: 'shortDate' }}</td>
                  <td>{{ sub.endDate | date: 'shortDate' }}</td>
                  <td>{{ sub.pricePaid }} TND</td>
                  <td>
                    <span [ngClass]="{
                      'badge bg-success': sub.status === 'ACTIVE',
                      'badge bg-danger': sub.status === 'CANCELLED',
                      'badge bg-warning': sub.status === 'PENDING'
                    }">
                      {{ sub.status }}
                    </span>
                  </td>
                  <td>{{ sub.sportFacility?.name || 'N/A' }}</td>
                  <td>
                    <div class="action-language">
                        <a *ngIf="canDelete(sub)" class="table-delete" href="javascript:void(0);" (click)="deleteSubscription(sub.id)">
                          <i class="fa-solid fa-trash-can"></i><span>Delete</span>
                        </a>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row mt-5">
    <!-- Revenue Monthly Chart -->
    <div class="col-lg-6 col-sm-6 col-12 d-flex widget-path">
      <div class="card w-100">
        <div class="card-body">
          <div class="home-user">
            <div class="home-head-user">
              <h2>Monthly Revenue</h2>
            </div>
            <div class="chartgraph">
              <div id="monthly-chart">
                <apx-chart
                  [series]="chartOptionsOne.series"
                  [chart]="chartOptionsOne.chart"
                  [xaxis]="chartOptionsOne.xaxis"
                  [dataLabels]="chartOptionsOne.dataLabels"
                  [tooltip]="chartOptionsOne.tooltip"
                  [fill]="chartOptionsOne.fill"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Revenue Quarterly Chart -->
    <div class="col-lg-6 col-sm-6 col-12 d-flex widget-path">
      <div class="card w-100">
        <div class="card-body">
          <div class="home-user">
            <div class="home-head-user">
              <h2>Quarterly Revenue</h2>
            </div>
            <div class="chartgraph">
              <div id="quarterly-chart">
                <apx-chart
                  [series]="chartOptionsThree.series"
                  [chart]="chartOptionsThree.chart"
                  [xaxis]="chartOptionsThree.xaxis"
                  [dataLabels]="chartOptionsThree.dataLabels"
                  [tooltip]="chartOptionsThree.tooltip"
                  [fill]="chartOptionsThree.fill"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  