<div class="container mt-5">

    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="boardDetails; else loading">
      <h2 class="text-center mb-4">{{ boardDetails.name }}</h2>
      <p class="text-center">{{ boardDetails.description }}</p>
  
      <h3 class="mt-4">Users in this Leaderboard</h3>
  
      <table class="table table-striped table-bordered mt-3">
        <thead class="table-dark">
          <tr>
            <th>Rank</th>
            <th>User ID</th>
            <th>XP Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of boardDetails.users">
            <td>{{ user.rank }}</td>
            <td>{{ user.userId }}</td>
            <td>{{ user.xpPoints }}</td>
          </tr>
        </tbody>
      </table>
  
      <button class="btn btn-secondary mt-3" (click)="goBack()">Back</button>
    </div>
  
    <ng-template #loading>
      <p class="text-center">Loading leaderboard details...</p>
    </ng-template>
  </div>
  