<div class="container">
    <h1>POSE CORRECTOR</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>
          <input type="radio" name="pose" value="left" [(ngModel)]="selectedPose" />
          LEFT ARM BICEP CURL
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" name="pose" value="right" [(ngModel)]="selectedPose" />
          RIGHT ARM BICEP CURL
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" name="pose" value="pushup" [(ngModel)]="selectedPose" />
          PUSHUP
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" name="pose" value="squat" [(ngModel)]="selectedPose" />
          SQUAT
        </label>
      </div>
      <div class="submit-button">
        <button type="submit">Submit</button>
      </div>
    </form>
  
    <div *ngIf="videoUrl" class="video-container">
      <h2>Video Feed</h2>
      <img [src]="videoUrl" alt="Video Feed" />
    </div>
  </div>